<%= form_for(post) do |f| %>
<% if post.comments.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.comments.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.comments.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%end%>  